/* move to top */
#top {
    position: absolute;
    right: 25px;
    bottom: 30px;
    width: 60px;
    height: 60px;

    background-color: #bbb;
    z-index: 888;
    opacity: 0.8;

    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px; 
}
#top .arrow{
    margin: 0 auto;
    padding-top: 11px;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #7f7f7f;

}
#top .stick{
    margin: 0 auto;
    padding-bottom: 21px;
    width: 13px;
    border-bottom: 13px solid #bbb;
    background-color: #7f7f7f;
}